[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-allauth = "*"
django-widget-tweaks = "*"
requests = "*"
whitenoise = "*"
django-environ = "*"
psycopg2 = "*"
dj-database-url = "*"
python-decouple = "*"
gunicorn = "*"
pdfkit = "*"
django-wkhtmltopdf = "*"

[dev-packages]

[requires]
python_version = "3.12"
