

{% extends "partials/base.html" %}

{% block title %}
Cart
{% endblock title %}

{% block content %}
<header class="w3-padding-large w3-center w3-black">
    <h1 class="w3-center w3-text-white">Shopping Cart</h1>
    <h6 class="w3-text-grey">View Your Cart...</h6>
</header>
{% if messages %}
{% for message in messages %}
    <div class=" w3-center">
        <h4 class="w3-light-green w3-right w3-padding" style="width:30%"><span>{{message}}</span> <span class="w3-button w3-red w3-right" onclick="this.parentElement.style.display='none' ">&times</span></h4>
    </div>
{% endfor %}
{% endif %}

{% if cart_products %}
<div class="w3-row-padding w3-content">
    <div class="w3-col l9 m9 s12 w3-section">
    {% for item in cart_products %}
        <div class="">
            <div class="w3-section w3-row">
                <div class="w3-col m6 s12">
                        <img src={{item.image.url}} alt="product_image" style="width:100%;"/>
                </div>
                <div class="w3-center w3-col m6 s12">
                <h2>{{item.name}}</h2>
                {% if item.is_sale %}
                <h4>${{item.sale_price}}</h4>
                {% else %}
                <h4>${{item.price}}</h4>
                {% endif %}
                <div class="w3-section w3-content" style="max-width:200px">
                    <select class="w3-select w3-border" id="select{{item.id}}">
                        <option selected>
                            {% for key, value  in quantities.items %}
                                {% if key == item.id|slugify %}
                                    {{value}}
                                {% endif %}
                            {% endfor %}
                        </option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>            
                    </select>
                </div>
                <a class="w3-button w3-round w3-border w3-grey" href="{% url 'product-detail' item.id %}">View</a>
                <button type="button" class="w3-button w3-round w3-blue update-cart" data-index="{{item.id}}">Update</button>
                <button type="button" class="w3-button w3-round w3-red delete-cart" data-index="{{item.id}}">Delete</button>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <!--for second column-->
    <div class="w3-col l3 m3 s12 w3-section w3-border">
        <h2>Cart Totals</h2>
        <div class=" w3-padding-large">
        <p class="">Total  <span class="w3-right">${{total}}</span></p>
        <a href={% url 'checkout' %} class="w3-button w3-block w3-green">checkout</a>
        </div>
    </div>
    <!--end of second column-->

</div>
{% else %}
<div class="w3-container w3-padding-large ">
    <h2>There is nothing in your cart</h2>
</div>
{% endif %}

<script>
    // update cart
    $(document).on('click','.update-cart',function(e){
         e.preventDefault();
         // grab product id
         var productid =$(this).data('index');
         $.ajax({
             type: 'POST',
             url:"{% url 'cart-update' %}",
             data: {
                 product_id: $(this).data('index'),
                 product_qty:$('#select'+ productid + ' option:selected').text(),
                 csrfmiddlewaretoken: '{{ csrf_token }}',
                 action:'post'
             },
             success:function(json){
                location.reload()
             },
             error: function(xhr,errmsg,err){
 
             }
         });
    })
    
    // delete product from cart
    $(document).on('click','.delete-cart',function(e){
        e.preventDefault();
        // grab product id
        $.ajax({
            type: 'POST',
            url:"{% url 'cart-delete' %}",
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action:'post'
            },
            success:function(json){
               location.reload()
            },
            error: function(xhr,errmsg,err){

            }
        });
   })
 
 </script>

{% endblock content %} 





<div class="w3-row w3-border w3-section">
            
            <div class="w3-col m4 s12">
                <img src={{item.image.url}} alt="product_image" style="width:100%;"/>
            </div>
            <div class="w3-col m8 s12 w3-padding-large w3-center">
                <h2>{{item.name}}</h2>
                {% if item.is_sale %}
                <h4>${{item.sale_price}}</h4>
                {% else %}
                <h4>${{item.price}}</h4>
                {% endif %}
                <div class="w3-section w3-content" style="max-width:200px">
                    <select class="w3-select w3-border" id="select{{item.id}}">
                        <option selected>
                            {% for key, value  in quantities.items %}
                                {% if key == item.id|slugify %}
                                    {{value}}
                                {% endif %}
                            {% endfor %}
                        </option>
                        <option value='1'>1</option>
                        <option value='2'>2</option>
                        <option value='3'>3</option>
                        <option value='4'>4</option>
                        <option value='5'>5</option>            
                    </select>
                </div>
                <a class="w3-button w3-round w3-border w3-grey" href="{% url 'product-detail' item.id %}">View</a>
                <button type="button" class="w3-button w3-round w3-blue update-cart" data-index="{{item.id}}">Update</button>
                <button type="button" class="w3-button w3-round w3-red delete-cart" data-index="{{item.id}}">Delete</button>
            
            
            </div>
        </div>