{% extends "partials/base.html" %}

{% block title %}Unshipped orders{% endblock title %}
{% block content %}
<header class="w3-padding-large w3-center w3-black">
    <h1 class="w3-center w3-text-white">Orders Pending Shiping</h1>
    <h6 class="w3-text-grey">With pearls just dazzle</h6>
</header>
<div class="w3-content">
    <h3>Items Pending Shipping</h3>
    {% if request.user.is_superuser %}
    <table class="w3-table-all w3-bordered w3-striped">
        <thead>
            <tr class="w3-black">
                <th>Order</th>
                <th>Price</th>
                <th>Customer Email</th>
                <th>Date Ordered</th>
                <th>Paid</th>

            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
        
            <tr>
                <td><a href="{% url 'order-detail' order.pk %}">{{order.pk}}</a></td>
                <td>{{order.amount_paid}}</td>
                <td>{{order.email}}</td>
                <td>{{order.date_ordered}}</td>
                {% if order.is_verified %}
                <td>Yes</td>
                {% else %}
                <td>Pending</td>  
                {% endif %} 
                <td><a href="{% url 'toggleship' order.pk %}" class="w3-button w3-tiny w3-border w3-red">Ship</a></td> 
            </tr>
            
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

</div>
{% endblock content %}
