

<div>
    <div class="w3-row w3-black w3-padding-large w3-text-grey">
        <div class="w3-quarter w3-padding-large">
            <h1 class="w3-text-white">About us</h1>
                <p>About us</p>
                <p>Community</p>
                <l1>Jobs</p>
                <p>Shipping</p>
                <p>Contact Us</p>
        </div>
        <div class="w3-quarter w3-padding-large w3-text-grey">
            <h1 class="w3-text-white">Customer Care</h1>
                <p>Search</p>
                <p>Privacy Policy</p>
                <l1>2024 Jewellery</p>
                <p>Delivery</p>
                <p>Gallery</p>
        </div>
        <div class="w3-quarter w3-padding-large w3-text-grey">
            <h1 class="w3-text-white">Our Services</h1>
                <p>Free shipping</p>
                <p>Free Returnes</p>
                <l1>Our Franchising</p>
                <p>Terms and conditions</p>
                <p>Privacy and Policy</p>
        </div>
        <div class="w3-quarter w3-padding-large w3-text-grey">
            <h1 class="w3-text-white">Information</h1>
                <p>Payment methods</p>
                <p>Shipping costs</p>
                <l1>Product Returns</p>
                <p>Shipping methods</p>
                <p>Conformity of the products</p>
        </div>
    </div>
</div>