


    <div class="w3-bar w3-padding-large w3-white w3-hover-white w3-hide-small" style="overflow: visible; position:sticky;top:0px; z-index:1000">
        <a href="{% url 'home' %}" class="w3-bar-item w3-button">PerditorStore</a>
        <a href="{% url 'about' %}" class="w3-bar-item w3-button">About</a>
        <a href="{% url 'categories' %}" class="w3-bar-item w3-button">Categories</a>
          <div class="w3-dropdown-click" style="overflow: visible;z-index:9999">
            <button onclick="myFunction1()" class="w3-button ">Orders</button>
            <div id="ord" class="w3-dropdown-content w3-bar-block w3-border" style="overflow: visible;z-index:9999">
              
              <a href="{% url 'ship-dash' %}" class="w3-bar-item w3-button">Shipped Items</a>
              <a href="{% url 'not-ship-dash' %}" class="w3-bar-item w3-button">Unshipped Items</a>
             
            </div>
          </div>
        
        {% if user.is_authenticated %}
          <a href="{% url "account_logout" %}" class="w3-bar-item w3-right w3-button">Logout</a>
          <a href="{% url 'update-profile' %}" class="w3-bar-item w3-right w3-button">Profile</a>
          <a href="{% url 'view-wishlist' %}" class="w3-bar-item w3-right w3-button"><i class="fa-solid fa-heart"></i>
            <span id="cart_quantit" class="w3-tag">{{num_wishlist}}
          </span></a>
        {% else %}
          <a href="{% url "account_signup" %}" class="w3-bar-item w3-right w3-button">Register</a>
          <a href="{% url "account_login" %}" class="w3-bar-item w3-right w3-button">login</a>
        {% endif %}

        <a href="{% url 'cart-summary' %}" class="w3-bar-item w3-right w3-button"><i class="fa-solid fa-cart-shopping"></i>
          <span id="cart_quantit" class="w3-tag">{{cart|length}}
        </span></a>


        
    </div>

    
    







  