{% extends "partials/base.html" %}

{% load widget_tweaks %}

{% block content %}
<br>
<div class="w3-content w3-light-grey w3-border w3-border-teal w3-card" style="max-width: 660px;">
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    <div class="w3-center">
        <br>
        <h1>Sign In</h1>
    </div>
    <form class="w3-container" method="POST">
        {% csrf_token %}
        <div class="w3-section">
            <div>
            <label for=""><b>Username</b></label>
            {% render_field form.login class="w3-input w3-border w3-border-teal w3-margin-bottom" placeholder="Username here" name="username" %}
            </div>
            <div>
            <label for=""><b>Password</b></label>
            {% render_field form.password class="w3-input w3-border w3-border-teal" placeholder="Password here" name="password" %}
            </div>
            <button class="w3-button w3-green w3-block w3-section" type="submit">Login</button>
            <p>
                {% render_field form.remember type="checkbox" class="w3-check" %} 
                Remember Me
            </p>
        </div>
        
        
    </form>
    <div class="w3-teal w3-border-top w3-padding-16 w3-container">
        
       <a href="{% url 'account_signup' %}"> <button class="w3-button w3-red">Sign up</button></a>

        <span class=" w3-padding w3-right">Forgot <a href="/accounts/password/reset/">password?</a></span>
    </div>
</div>

{% endblock content %}
