{% extends "partials/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="w3-content w3-container">
    {% element h1 %}
        {% trans "Change Password" %}
    {% endelement %}
    {% element p %}
        {% trans 'Your password is now changed.' %}
    {% endelement %}
    <a class="w3-button w3-border w3-teal w3-round-xlarge" href="{% url 'account_login' %}">Login</a>
</div>
{% endblock content %}
