{% extends "partials/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="w3-content w3-container">
    {% element h1 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            <h1 class="w3-container">Change Password</h1>
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}
        
        <form class="w3-container" method="POST" action="/accounts/password/reset/key/1-set-password/">
            {% csrf_token %}
            <div class="w3-section">
    
                <div class="w3-section">
                    <label for=""><b>Password</b></label>
                    
                   {% render_field form.password1 class="w3-input w3-mobile w3-border" style="width:300px" placeholder="Password here" %}
                    
                </div>
                
                <div class="w3-section">
                    {{form.password2.errors|safe}}
                    <label for=""><b>Password</b></label>
                   {% render_field form.password2 class="w3-input w3-mobile w3-border" style="width:300px" placeholder="confirm password"%}
                    
                </div>
                <button class="w3-button w3-green w3-mobile w3-round-large w3-section">Change Password</button>
                
            </div>
            
            
        </form>
    {% endif %}
    </div>
{% endblock content %}
