{% extends "partials/base.html" %}





{% block content %}
<script src="https://js.paystack.co/v1/inline.js"></script>
<div class="w3-padding-large w3-panel">
    <h4 class="w3-center w3-padding-large">About Paying {{amount}} to deliver package</h4>
</div>

<div class="w3-padding-large w3-panel w3-center">
    <button class="w3-button w3-border w3-section w3-round w3-green" onclick="paywithPaystack()">Pay</button>
</div>


<script>
    function paywithPaystack(){
        let currency = 'GHS';
        let plan = '';
        let ref = "{{payment.ref}}";
        let amount ="{{payment.amount}}";
        let obj = {
            key :"{{paystack_pub_key}}",
            email:"{{payment.email}}",
            amount:"{{amount_value}}",
            ref:ref,
            callback:function(response){
                window.location.href = "{% url 'verify-payment' payment.ref %}"
            }

        }
        if (Boolean(currency)){
            obj.currency = currency.toUpperCase();

        }
        if (Boolean(plan)){
            obj.plan = plan;
        }
        var handler = PaystackPop.setup(obj);
        handler.openIframe();
    }
</script>
{% endblock content %}